html {/* -webkit-text-size-adjust: 100%; */
    height: 100%;

    font-family: sans-serif;
    }
body {/*color: #ffffff;*/
    height: 100%;

    font-family: 'Open Sans', sans-serif;font-size: 15px;line-height: 1.5;
    }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {color: #000000;

    font-family: 'Open Sans', sans-serif;font-weight: 450;line-height: 1.1;
    }

.font-min{margin-bottom: 0px;

  font-size: 12px;
  }


.navbar-nav.navbar-center {
    position: absolute;left: 50%;transform: translatex(-50%);
    }
.accordion1{margin-bottom: 20px;

  border: 1px solid;border-radius: 4px;-webkit-box-shadow: 5px 10px #5c676f;-moz-box-shadow: 5px 10px #5c676f;box-shadow: 5px 10px #5c676f;
    }

.Center{
  text-align: center;
}

.busqpaciente{padding: 1px;/*border: 1px solid;
  */border-radius: 4px;
  background-color: #EEEEEE;
  }

.accordion2{margin-bottom: 80px;

  border: 1px solid;border-radius: 4px;-webkit-box-shadow: 5px 10px #00668F;-moz-box-shadow: 5px 10px #00668F;box-shadow: 5px 10px #00668F;
    }

.accordion1:hover{
  /*border: 2px solid;*/
  color:#BED5E5;
  /*
  -webkit-box-shadow:0 1px 5px 0 #BED5E5;
  box-shadow:0 1px 5px 0 #BED5E5;
  box-shadow:0 1px 5px 0 #BED5E5;
  box-shadow: 5px 10px #5c676f;
*/
}
.accordion2:hover{
  /*border: 2px solid;*/
  color:#BED5E5;
  /*
  -webkit-box-shadow:0 1px 5px 0 #BED5E5;
  -moz-box-shadow:0 1px 5px 0 #BED5E5;
  box-shadow:0 1px 5px 0 #BED5E5;
  box-shadow: 5px 10px #5c676f;
*/
}
.titlecard{
color:#ffffff;
}

#headingOnePos{
  background-color: #00668F;
}

#headingOne1, #headingOne2, #headingOne3{margin: 5px;

  background-color: #ffffff;
  }

#headingOne, #headingTwo, #headingThree, #headingFour, #headingFive, #headingSix, #headingSeven{
  /*background-color: #8FC8E7;*/
  background-color: #00668F;
}

#headingOner, #headingTwor, #headingThreer, #headingFourr, #headingFiver, #headingSixr, #headingSevenr{/*background-color: #ffffff;*/
  border-radius: 4px;
  background-color: #8FC8E7;
  }
.white{
  color: #ffffff;
}

.blue{
    color: #406a80;
}

.accordion1:hover .titlecard, .accordion1:hover p, .accordion1:hover th, .accordion1:hover td{color: #ffffff;

  font-family: 'Open Sans', sans-serif;
    }


.accordion1:hover #headingOne, .accordion1:hover #headingTwo, .accordion1:hover #headingThree, .accordion1:hover #headingFour,
.accordion1:hover #headingFive, .accordion1:hover #headingSix, .accordion1:hover #headingSeven {
  /*  background-color: #406a80;*/
  background-color: #8FC8E7;
}

.accordion2:hover #headingOner, .accordion2:hover #headingTwor, .accordion2:hover #headingThreer, .accordion2:hover #headingFourr,
.accordion2:hover #headingFiver, .accordion2:hover #headingSixr, .accordion2:hover #headingSevenr {
  /*  background-color: #406a80;*/
  background-color: #8FC8E7;
}

.spaceacc{
  margin-bottom: 50px;
}
.espacio{
  margin-bottom: 20px;
}


.grad {color:#ffffff;
    /*background: linear-gradient(#ffffff, #8FC8E7*/
    background-color: #6CB0D4;
    }

.grad1{border-color: #BED5E5;
  /*background: linear-gradient(0deg,#000000 10%,#C2D7E6 80%,#EEF4F8 10%);*/
  background: linear-gradient(#EEF4F8,#CCDEEB 90%,#000000 );

  }

.justify{
    text-align: justify;text-justify: inter-word;
    }
@media only screen and (max-width: 765px) {
    .marg {
      margin: 0;padding: 0;
    }
}



/* Grow */
.hvr-grow:hover .fa-circle,
.hvr-grow:focus .fa-circle,
.hvr-grow:active .fa-circle {
    color: #73BFE6;
}


.card {
  position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;border: 0px solid rgba(0, 0, 0, 0.125);border-radius: 0.25rem;background-color: transparent;background-clip: border-box;
  }

.label-menu{
  margin-top: 10px;
}

.btt-graf{
  margin: 5px;
}
.btt-graf-e{
  margin: 5px;padding: 2px;
  }



/*modal de galeria de imagenes*/
.row > .column {
  padding: 0 8px;
}

.row:after {display: table;clear: both;

  content: "";
  }

.column {
  float: left;width: 25%;
  }



img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transpa{color: white;background: transparent; }
.w3-modal-2{position:fixed;z-index:3;top:0;left:0;display:none;overflow:auto;width:100%;height:100%;padding-top:60px; padding-bottom: 60px; background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.8)}
.w3-modal{position:fixed;z-index:3;top:0;left:0;display:none;overflow:auto;width:100%;height:100%;padding-top:40px; padding-bottom: 40px; background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.8)}
.w3-button{display:inline-block;overflow:hidden;padding:8px 16px;cursor:pointer;text-align:center;vertical-align:middle;white-space:nowrap;text-decoration:none;color:inherit;border:none;background-color:inherit;}
.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.w3-xlarge{font-size:24px!important}
.w3-display-topright{position:absolute;top:0;right:0;}
.w3-modal-content{position:relative;width:80%;margin:auto;padding:0;outline:0;background-color:#fff;}
.w3-animate-zoom {animation:animatezoom 0.6s}
